body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerWrapper, .adminWrapper {
  margin-left: 10px;
}

.adminLabel {
  display: inline-block;
  width: 100px;
  text-align: right;
}

.passwordLabel {
  width: 60px;
  margin-right: 15px;
}

.adminControl {
  width: 250px;
  margin-top: 5px;
  margin-left: 5px;
}

.adminButton {
  margin-top: 10px;
  margin-left: 212px;
  width: 150px;
  cursor: pointer;
  height: 25px;
}

.adminContainer {
  margin-left: 20px;
}

#admin-all-supplements-list {
  margin-top: 5px;
}

#admin-all-supplements-header {
  margin-bottom: 5px;
}

#add-submit-button {
  margin-left: 5px;
}

#add-submit-button, #add-tag-button {
  width: 90px;
}

.search-bar-wrapper, .recommendation-wrapper {
  margin-left: 5px;
}

.search-bar-wrapper {
  margin-top: 40px;
}

.recommendation-wrapper {
  margin-top: 50px;
}