body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('../public/supplement_background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.adminWrapper {
  margin-left: 10px;
}

.headerWrapper {
  text-align: center;
}

#header-line {
  /* font-weight: bold; */
  font-size: 20px;
}

.adminLabel {
  display: inline-block;
  width: 100px;
  text-align: right;
}

.passwordLabel {
  width: 60px;
  margin-right: 15px;
}

.adminControl {
  width: 250px;
  margin-top: 5px;
  margin-left: 5px;
}

.adminButton {
  margin-top: 10px;
  margin-left: 212px;
  width: 150px;
  cursor: pointer;
  height: 25px;
}

.adminContainer {
  margin-left: 20px;
}

#admin-all-supplements-list {
  margin-top: 5px;
}

#admin-all-supplements-header {
  margin-bottom: 5px;
}

#add-submit-button {
  margin-left: 5px;
}

#add-submit-button, #add-tag-button {
  width: 120px;
}

.search-bar-wrapper, .recommendation-wrapper {
  /* margin-left: 5px; */
  /* text-align: center; */
}

.search-bar-wrapper {
  margin-top: 40px;
  text-align: center;
}

.recommendation-wrapper {
  width: 50%;
  margin: 50px auto;
  /* margin-top: 50px; */
  text-align: center;
}

.MuiCardContent-root {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.MuiAutocomplete-root {
  width: 600px !important;
  display: block;
  margin : 0 auto;
}

.MuiInputBase-root {
  background-color: white;
}

.keyword-chip-stack {
  display: block !important;
}

.MuiChip-root {
  background-color: rgba(220, 220, 220) !important;
}

.MuiChip-deleteIcon {
  color: rgba(150, 150, 150) !important;
}

.MuiChip-deleteIcon:hover {
  color: rgba(110, 110, 110) !important;
}

#recommendation-header {
  margin-top: 10px !important; 
}

#recommendation-text {
  margin-bottom: 10px !important; 
  margin-top: 10px !important; 
}